
@media only screen and (max-width: 480px) {

      
    

header {
    font-family: Arial, Helvetica, sans-serif;
    display : flex;
    justify-content: space-between;
    align-content: center;
    font-size: x-large;
    align-items: center;

}


.top-nav{
    display: none;
}

.new-line{
    display: none;
}




.name{
    padding-right: 10px;
    display: flex;
    justify-content: center
}
h1 {
    font-size: 5vw
}
.container img{
    width: 100%;
    height: auto;
}
.container {
    position: relative;
}
    
.container .content{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0px;
    width: auto;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.5);
    color: #f1f1f1;
    padding: 10px 10px;
}

.second{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
ul{
    padding-left: 15px;
    font-size: 3vw;
}
p{
    font-size: 3vw;
}

table{
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 52, 52)
}
th, td{ 
    text-align: left;   
    padding: 8px;
    font-size: small;
}
tr:nth-child(odd){background-color: #f4f4f4}

th{
    background-color: rgb(94, 127, 165);
    color: rgb(26, 24, 24)
}
.third-head {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(37, 35, 35);

}

.fourth-flex-1{
    display: flex;
    align-items: center
}
.fourth-flex-1 div{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    color: rgb(54, 52, 52)
}
.fourth-flex-2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.fourth-flex-2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
    width: 100%;
}

.fourth-flex-2 main{
    font-weight: bold;
}

.final-first{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(54, 53, 52);
    font-size: 4vw;
    justify-content: space-between;
    align-content: center;
    flex-direction: row

}

.more{
    text-decoration: none
}

.final img{
    margin: 8px;
    float: left;
}

.final{
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #242323;
    font-size: 4vw
}

.footer{
    display: flex;
    color: #242323;
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    justify-content: space-between  ;
}

.second-common{
    display: none;
}
}











































@media only screen and (min-width: 480px) {


    .version-shift{
        display: none;
    }

    header{
        display: flex;
        justify-content: space-between;
        font-size: 6.5vw;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        color: #424040
    }

    header .name{
        padding-right: 150px;
    }

    .top-nav{
        display: flex;
        justify-content: space-evenly;
        background-color: #f4f4f4;
        height: 40px;
        width: 100%;
        margin-bottom: 15px;
        align-items: center;
        border-radius: 6px; 
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    .top-nav a{
        font-size: small;
        color: rgb(65, 61, 61);
        text-decoration: none;
    }
    .top-nav a:hover{
        color: gray;
    }

    .top-nav a:active{
        color: rgb(41, 39, 39)
    }
    hr.new-line{

        margin: 10px;
        border: 3px solid rgb(207, 202, 202);
        border-radius: 2px;
    
    }

    .container img{
        width: 100%;
        max-height: 500px;
    }
    .container {
        position: relative;
    }
    
    .container .content{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 0px;
        width: auto;
        background: rgb(0,0,0);
        background: rgba(0, 0, 0,0.5);
        padding: 10px 10px;
        color: rgb(247, 243, 243);
    }

    .container-headline{
        font-size: 3vw;
    }

    .container p{
        font-size: 2vw;
    }

    .second{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
    }
    ul{
        padding-left: 15px;
        width: 100%;
    }
    .second li{
        margin: 14px;
        font-size: 12px;
    }

    .second-hr{
        margin-top: 15px;
    }

    .second-headline{
        margin-top: 15px;
    }

    table{
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(54, 52, 52)
    }
    td{ 
        text-align: center;   
        padding: 11px;
        font-size: small;
    }
    th{
        text-align: center;   
        padding: 11px;
        font-size: small;
    }
    .third-head {
        margin: 0px 15px;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(75, 72, 72);
        font-size: 3vw;
    }

    .third-head-1 {
        margin: 0px 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(75, 72, 72);
        font-size: 2vw;
    }

    .fourth-flex-1{
        padding-left: 30px;
        display: flex;
        align-items: center;
        padding-bottom: 35px;
        margin: 10px 50px;
    }
    .fourth-flex-1 div{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 6vw;
        color: rgb(75, 73, 73)
    }

    .fourth-flex-2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 4vw;
        margin: 10px 30px;
    }

    .fourth-flex-2 div{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3vw;
        width: 100%;
    }

    .fourth-flex-2 main{
        font-size: 1.8vw;
        color: #424040
    }

    .final-first{
        margin: 0px 50px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(54, 53, 52);
        font-size: 2.8vw;
        justify-content: space-between;
        align-content: center;
        flex-direction: row
    }

    .final{
        margin: 0px 50px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: #686464;
        font-size: 2vw
        
    }
    .final img{
        margin: 8px;
        float: left;
    }
    .footer{
        display: flex;
        height: 25px;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        margin: 0px 40px;
        color: #242323;
        font-size: 1.5vw;
        font-family: Arial, Helvetica, sans-serif;
        align-content: center;
        justify-content: space-between  ;
    }

    .common{
        display: flex;
    }


    .medium-disable{
        display: none;
    }

    #resize-image-medium{
        height: 30px;
        width: 25px;
    }

    
    
    




    


}












































@media only screen and (min-width: 700px) {

    body{
        margin: 20px 20px;
        padding: 10px
    }



    .version-shift{
        display: none;
    }

    header{
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5vw;
        align-items: center;
    }

    .logo{
        margin: 20px;
        padding:10px;
    }
    .name{
        font-weight: lighter;
        font-size: 45px;
        padding-right: 18px;
    }

    .top-nav{
        display: flex;
        justify-content: space-evenly;
        background-color: #f4f4f4;
        height: 40px;
        width: 100%;
        margin-bottom: 15px;
        align-items: center;
        border-radius: 6px; 
        font-family: Arial, Helvetica, sans-serif;
        overflow: hidden;
    }
    .top-nav a{
        font-size: small;
        color: rgb(65, 61, 61);
        text-decoration: none;
    }
    .top-nav a:hover{
        color: firebrick;
    }

    .top-nav a:active{
        color: rgb(41, 39, 39)
    }

    hr.new-line{

        margin: 10px;
        border: 3px solid rgb(207, 202, 202);
        border-radius: 2px;
    
    }

    .container img{
        width: 100%;
        max-height: 500px;
    }
    .container {
        position: relative;
    }
    
    .container .content{
        font-family: Arial, Helvetica, sans-serif;
        position: absolute;
        bottom: 0px;
        width: auto;
        background: rgb(0,0,0);
        background: rgba(247, 243, 243,0.9);
        padding: 10px 10px;
        color: rgb(88, 85, 85);
    }

    .container-headline{
        font-size: 3vw;
    }

    .container p{
        font-size: 2vw;
    }

    .second{
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: grey;
    }
    ul{
        padding-left: 15px;
        width: 100%;
    }
    .second li{
        margin: 14px;
        font-size: 12px;
    }

    .second-hr{
        margin-top: 15px;
    }

    .second-headline{
        margin-top: 15px;
    }

    table{
        border-collapse: collapse;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(54, 52, 52)
    }
    td{ 
        text-align: center;   
        padding: 11px;
        font-size: small;
    }
    th{
        text-align: center;   
        padding: 11px;
        font-size: small;
    }
    .third-head {
        margin: 0px 15px;
        padding-top: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(75, 72, 72);
        font-size: 3vw;
    }

    .third-head-1 {
        margin: 0px 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(75, 72, 72);
        font-size: 2vw;
    }

    .fourth-flex-1{
        padding-left: 30px;
        display: flex;
        align-items: center;
        padding-bottom: 35px;
        margin: 10px 50px;
    }
    .fourth-flex-1 div{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 6vw;
        color: rgb(75, 73, 73)
    }

    .fourth-flex-2{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 4vw;
        margin: 10px 30px;
    }

    .fourth-flex-2 div{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3vw;
        width: 100%;
    }

    .fourth-flex-2 main{
        font-size: 1.8vw;
        color: #424040
    }

    .final-first{
        margin: 0px 50px;
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(54, 53, 52);
        font-size: 2.8vw;
        justify-content: space-between;
        align-content: center;
        flex-direction: row
    }

    .final{
        margin: 0px 50px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
        color: #686464;
        font-size: 2vw
        
    }
    .final img{
        margin: 8px;
        float: left;
    }
    .footer{
        display: flex;
        height: 25px;
        align-items: center;
        justify-content: center;
        background-color: #f2f2f2;
        margin: 0px 40px;
        color: #242323;
        font-size: 1.5vw;
        font-family: Arial, Helvetica, sans-serif;
        align-content: center;
        justify-content: space-between  ;
    }

    .second-common{
        display: none;
    }

    .medium-disable{
        display: block;
    }
    


}
    
    